<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>吃啥 Eat what</title>

    <!-- vue 3.5.13 -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"
      integrity="sha512-rgrFBaGRHjj2cy6RtcWr21S4oSicNV/Y3qACuRZZIVdi6hGIXOKZeFTtzFFZCJ7cI4OrwbY7/FGVvaJ5hXJdJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- bootstrap css 5.1.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <!--  bootstrap js 5.1.1 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- font-awesome 6.7.2 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- js-cookie 3.0.5 -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <style>
      .dropdown-item {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
      }
    </style>
  </head>
  <body>
    <div
      class="container-md gap-2 d-grid p-4 border mt-2 border-5 rounded rounded-3 border-primary"
      id="app"
    >
      <!-- 功能按鈕 -->
      <div class="row text-center">
        <div class="col-1">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-globe fa-lg"></i>
            </button>
            <ul class="dropdown-menu">
              <li @click="changeLanguage('ZH-TW')">
                <a class="dropdown-item">繁體中文</a>
              </li>
              <li @click="changeLanguage('ZH-CN')">
                <a class="dropdown-item">簡體中文</a>
              </li>
              <li @click="changeLanguage('EN')">
                <a class="dropdown-item">English</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="col-2 d-flex align-items-center">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              v-model="remember"
            />
            <label class="form-check-label">記住選過的</label>
          </div>
        </div> -->
      </div>

      <!-- 標題 -->
      <div class="row text-center">
        <h1>{{base.eat}} {{randomDish[language]}}</h1>
      </div>

      <!-- 圖片 -->
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <template v-if="randomDish.img">
            <img class="w-100" :src="randomDish.img" />
          </template>
          <template v-else>
            <img class="w-100" src="https://fakeimg.pl/300/?text=No Image" />
          </template>
        </div>
      </div>

      <!-- 好嗎 -->
      <div class="row text-center">
        <h1>{{base.ok}}</h1>
      </div>

      <!-- 按鈕 -->
      <div class="row d-flex justify-content-center">
        <div class="col-8">
          <button class="btn btn-primary btn-lg w-100" @click="getDish">
            {{base.no}}
          </button>
        </div>
      </div>

      <hr />

      <!-- 捨棄區 -->
      <div class="row">
        <div class="col-2" v-for="dish in selectedDish">
          <div class="card my-2">
            <div class="card-header text-center">{{dish[language]}}</div>
            <div class="card-body">
              <template v-if="dish.img">
                <img class="w-100" :src="dish.img" />
              </template>
              <template v-else>
                <img
                  class="w-100"
                  src="https://fakeimg.pl/100/?text=No Image"
                />
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./d.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
